- if can? :update, Person, :gender
  %p
    = f.label :gender, name: 'gender'
    %br/
    %p.option-label
      = f.label :gender, value: 'male' do
        = f.radio_button :gender, 'male'
        %span Man
    %p.option-label
      = f.label :gender, value: 'female' do
        = f.radio_button :gender, 'female'
        %span Vrouw
