%h5 Accountgegevens bewerken
- if cannot? :update, Person, :iban
  = render partial: 'name_fields', locals: {f: f}
= render partial: 'gender_fields', locals: {f: f}
= render partial: 'email_fields', locals: {f: f}
= render partial: 'mobile_phone_fields', locals: {f: f}
.actions
  = f.submit "Opslaan", class: "btn waves-effect waves-light"
