= render partial: 'shared/header'
- if @person.errors.any?
  .col.s12
    .card.light-grey-background-color
      .card-content.black-text
        %span.card-title
          = @person.errors.count
          = t('misc.error', :count => @person.errors.count)
          in de gegevens, het volgende moet aangepast worden:
        %ul
          - @person.errors.full_messages.each do |msg|
            %li= msg

.row
  .col.s12
    - if can? :update, Person, :iban
      = render 'iban_form'
    = form_for(@person, html: { class: 'settings' }) do |f|
      %h5 Accountgegevens bewerken
      - if cannot? :update, Person, :iban
        = render partial: 'name_fields', locals: {f: f}
      = render partial: 'gender_fields', locals: {f: f}
      = render partial: 'email_fields', locals: {f: f}
      = render partial: 'mobile_phone_fields', locals: {f: f}
      .actions
        = f.submit "Opslaan", class: "btn waves-effect waves-light"
