= render partial: 'shared/header'
- if @person.errors.any?
  .col.s12
    .card.light-grey-background-color
      .card-content.black-text
        %span.card-title
          = @person.errors.count
          = t('misc.error', :count => @person.errors.count)
          in de gegevens, het volgende moet aangepast worden:
        %ul
          - @person.errors.full_messages.each do |msg|
            %li= msg

.row
  .col.s12
    = form_for(@person, html: { class: 'settings' }) do |f|
      = render partial: 'iban_form', locals: {f: f} 
      = render partial: 'personal_details_from', locals: {f: f} 
