= render partial: 'menu'
.container
  .row
    .admin-interface
      .col.s12
        %h1 Dashboard
      .col.s12
        .section
          %h4 Reward Money
          %p= "Total earned so far: #{print_as_money(Reward.total_earned_euros)}"
          %p= "Can still be earned: #{print_as_money(Reward.max_still_earnable_euros)}"
      - if Rails.application.config.settings.application_name == 'u-can-act' # vieze hack
        .col.s12
          .section
            %h4 Evaluatieonderzoek
            %p= "Aantal keren op de link geklikt: #{Protocol.find_by_name('evaluatieonderzoek')&.protocol_subscriptions&.count}"
            %p= "Aantal keren informed consent geaccepteerd: #{Protocol.find_by_name('evaluatieonderzoek')&.protocol_subscriptions&.where('informed_consent_given_at IS NOT NULL')&.count}"
            %p= "Aantal keren vragenlijst is ingevuld: #{Measurement.find_by_questionnaire_id(Questionnaire.find_by_name('evaluatieonderzoek')&.id)&.responses&.where('completed_at IS NOT NULL')&.count}"
            %p= "Aantal keren emailadres & ip opgegeven: #{Person.where('email IS NOT NULL AND ip_hash IS NOT NULL').count}"
      .col.s12
        .section
          = react_component('Statistics')
      .col.s12
        .section
          %h4 Elaborate functionality
          = react_component('AdminRouter')
