%div
  - student = protocol_subscription.filling_out_for
  - open_responses = protocol_subscription.responses.opened.reject{|resp| resp.expired?}
  - student_prot_id = protocol_subscription.filling_out_for.protocol_subscriptions.first&.id
  %li.collection-item.avatar{:style => "min-height:65px"}
    - if open_responses.blank?
      %i.large.material-icons.circle.green.lighten-2 done
      %span.title= "#{student.first_name} #{student.last_name}"
    - else
      %i.large.material-icons.circle.orange.lighten-2 perm_identity
      %span.title= "#{student.first_name} #{student.last_name}"
      %p
        - open_responses.each do |response|
          - response.initialize_invitation_token! if response.invitation_token.nil?
          = link_to('Vragenlijst invullen voor deze student',       |
            questionnaire_path(q: response.invitation_token.token))
    - if student_prot_id
      :javascript
        start_overview_generation(#{student_prot_id})
      .graph{:id => "container_#{student_prot_id}"}
        .progress
          .indeterminate
