%li.collection-item.avatar{:style => "min-height:65px"}
  - if open_responses.blank?
    %i.large.material-icons.circle.green.lighten-2 done
    %span.title= "#{student.first_name} #{student.last_name}"
  - else
    %i.large.material-icons.circle.orange.lighten-2 perm_identity
    %span.title= "#{student.first_name} #{student.last_name}"
    %p
      - open_responses.each do |response|
        - next if response.expired?
        = link_to('Vragenlijst invullen voor deze student',       |
          questionnaire_path(uuid: response.uuid))
