= render partial: 'shared/header'
:javascript
  window.onbeforeunload = null;
%h1 Webapp Begeleiders
%p
  Voor
  %i
    = current_user.first_name
    = current_user.last_name

%ul.collection
  - @student_protocol_subscriptions.each do |protocol_subscription|
    = render partial: 'participant_overview', locals: { protocol_subscription: protocol_subscription }
%footer
  .div.container
  %ul
    %li
      = link_to('Disclaimer', disclaimer_path)
    %li
      = link_to('Gegevens aanpassen', edit_person_path)

= render 'shared/feedback_button'
