<h1>Webapp Begeleiders</h1>
<p>Voor <i><%=@mentor.first_name%> <%=@mentor.last_name%></i></p>
<ul class="collection">
  <% @student_protocol_subscriptions.each do |protocol_subscription| %>
    <% student = protocol_subscription.filling_out_for %>
    <% open_responses = protocol_subscription.responses.open.reject{|resp| resp.expired?} %>
    <li class="collection-item avatar" style="min-height:65px">
      <%if open_responses.blank?%>
        <i class="large material-icons circle green lighten-2">done</i>
        <span class="title"><%="#{student.first_name} #{student.last_name}"%></span>
      <% else %>
        <i class="large material-icons circle orange lighten-2">perm_identity</i>
        <span class="title"><%="#{student.first_name} #{student.last_name}"%></span>
        <p>
        <% open_responses.each do |response| %>
          <% next if response.expired? %>
          <%= link_to('Vragenlijst invullen voor deze student',
                      questionnaire_path(q: response.initialize_invitation_token!.token)) %>
        <% end %>
        </p>
      <%end%>
    </li>
  <% end %>
</ul>
