= render partial: 'shared/header'
:javascript
  window.onbeforeunload = null;
%h1 Webapp Begeleiders
%p
  Voor
  %i
    = @mentor.first_name
    = @mentor.last_name

%ul.collection
  - @student_protocol_subscriptions.each do |protocol_subscription|
    = render partial: 'participant_overview', locals: { protocol_subscription: protocol_subscription }
%footer
  .div.container
  = link_to('Disclaimer', disclaimer_path)

= render 'shared/feedback_button'
