<h1>Mentor overzicht </h1>
<p>Voor <i><%=@mentor.first_name%> <%=@mentor.last_name%></i></p>
<ul class="collection">
  <% @student_protocol_subscriptions.each do |protocol_subscription| %>
    <% student = protocol_subscription.filling_out_for %>
    <% subscriptions = protocol_subscription.responses.open %>
    <li class="collection-item avatar">
      <%if subscriptions.blank?%>
        <i class="large material-icons circle">done</i>
        <span class="title"><%="#{student.first_name} #{student.last_name}"%></span>
      <% else %>
        <i class="large material-icons circle">perm_identity</i>
        <span class="title"><%="#{student.first_name} #{student.last_name}"%></span>
        <p>
        <% subscriptions.each do |response| %>
          <% next if response.expired? %>
          <%= link_to('Vragenlijst', questionnaire_path(q: response.invitation_token.token)) %>
        <% end %>
        </p>
      <%end%>
    </li>
  <% end %>
</ul>


