- reward_points = @protocol_subscription.reward_points
- earned = reward_points/10 # One questionnaire gives 10 points. 10 points is worth one euro.
- possible_reward_points = @protocol_subscription.possible_reward_points
- max_reward_points = @protocol_subscription.max_reward_points
- progress_perc = as_percentage(possible_reward_points, max_reward_points)
- done = possible_reward_points == max_reward_points
.col.s12
  .row
    .col.s12
      %h4 Bedankt voor het invullen van de vragenlijst!
  - if mentor?
    - if done
      .section
        %p.flow-text
          Heel erg bedankt dat je meedeed aan ons onderzoek! Door jou deelname kunnen wij onze webapp zo verbeteren
          dat deze veel beter zal aansluiten aan de wensen van toekomstige deelnemers.
        %p.flow-text
          Hartelijke groeten van het RUG onderzoeksteam:
          %br/
          Nick Snell, Teun Blijlevens en Mandy van der Gaag
        %p.flow-text
          Je kan deze pagina veilig sluiten.
  - else
    - if done
      .section
        %p.flow-text
          Heel erg bedankt dat je meedeed aan ons onderzoek! Door jou deelname kunnen wij onze webapp zo verbeteren
          dat deze veel beter zal aansluiten aan de wensen van toekomstige deelnemers. Zodra de gegevens bij ons
          binnen zijn ontvangt jouw S-team begeleider jouw beloning en kan jij je beloning daar dus ophalen.
        %p.flow-text
          = reward_points
          punten behaald.
          %br/
          &euro;#{earned},- verdiend.
        %p.flow-text
          Hartelijke groeten van het RUG onderzoeksteam:
          %br/
          Nick Snell, Teun Blijlevens en Mandy van der Gaag
        %p.flow-text
          Je kan deze pagina veilig sluiten.
    - else
      .section
        %p.flow-text
          Je hebt hiermee #{@reward_delta} punten verdiend. Je hebt nu in totaal
          %strong= reward_points
          punten.
      .section
        %p.flow-text
          Voortgang van het onderzoek
        .progress
          .determinate{:style => "width: #{progress_perc}%"}
        .row
          .col.s12
            Het onderzoek is voor #{progress_perc}% voltooid. Er zijn
            nog #{max_reward_points - possible_reward_points}
            punten te verdienen.
